<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @intake.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @intake.email %>
</p>

<p>
  <strong>Message:</strong>
  <%= @intake.message %>
</p>

<%= link_to 'Edit', edit_intake_path(@intake) %> |
<%= link_to 'Back', intakes_path %>
