<!DOCTYPE html>
<html>
  <head>
    <title>KaseyTestDummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="nav justify-content-end">
        <%= link_to "kases", '/kasey/kases', class: 'nav-link' %>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
